{% extends 'base.html.twig' %}

{% block title %}Reserva{% endblock %}

{% block body %}
<div class="row justify-content-md-center">
<div class="col-6">
    <h1>Reserva</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reserva.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ reserva.fecha ? reserva.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>


    <a class="btn btn-info mr-2" href="{{ path('reserva_index') }}">Volver a la Lista</a>

    <a class="btn btn-warning mr-2" href="{{ path('reserva_edit', {'id': reserva.id}) }}">edit</a>

    {{ include('reserva/_delete_form.html.twig') }}
        </tbody>
    </table>
{% endblock %}
