<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Dolly!
      {% endblock %}
    </title>
    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('./css/style.css') }}" />
      <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous" />
    {% endblock %}
  </head>
  <body>

 <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
 <a class="navbar-brand" href="{{ path('dashboard') }}">
    <img src="{{ asset('imagenes/img.png') }}" width="150" height="30" alt="" loading="lazy">
  </a>
<div class="navbar-nav ml-auto">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{path('dashboard')}}">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('cliente_index')}}">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('user_index')}}">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('categoria_index')}}">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('producto_index')}}">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('reserva_index')}}">Reserva</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{{path('reservaproducto_index')}}">Detalle Reserva</a>
      </li>

      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default"
            aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="#">Bievenido: {{ app.user.nombre }}</a>
            <a class="dropdown-item" href="{{path('app_logout')}}">Cerrar Sesion</a>
          </div>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_login')}}" tabindex="-1" aria-disabled="true">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
</div>
</nav>
    {% block body %}

    {% endblock %}
    <br /><br /><br />
    <div class="jumbotron mt-5 fernando">
      <div class="container">
        <div class="row">
          <div id="sp-bottom9" class="col-sm-3 col-md-3">
            <div class="sp-column">
              <div class="sp-module title1">
                <div class="sp-module-content">
                  <div class="fer2">
                    <p>
                    <p><img src="{{asset('imagenes/img0.png')}}" width="230px" height="140px" alt=""></p>
                      <span class="uk-text-contrast">
                        Dolly Gómez se inició en el negocio de las tortas, dando sus primeros pasos con la torta del 1er. cumpleaños de su primer hijo en el año 1974.
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="sp-bottom10" class="col-sm-3 col-md-3">
            <div class="sp-column">
              <div class="sp-module title1">
                <h3 class="sp-module-title"></h3>
                <div class="sp-module-content">
                  <div class="fer2">
                    <h3>
                      Links de Interes:
                    </h3>
                    <hr style="height:5px;border-width:0;width: 100%;border-radius: 5px;margin-right: 0%; color:black;background-color:rgb(236, 4, 159)" />
                    <ul>
                      <li>
                        <a style="color: #B0B0B0;"
                          target="_blank"
                          href="https://tortasdolly.com/">
                          Tortas Dolly
                        </a>
                      </li>
                      <li>
                        <a style="color: #B0B0B0;"
                          target="_blank"
                          href="https://es-la.facebook.com/DUMBOSANTACRUZ/">
                          Heladeria Dumbo
                        </a>
                      </li>
                      <li>
                        <a style="color: #B0B0B0;"
                          target="_blank"
                          href="https://tortasdelgordo.com.co/">
                          Tortas del Gordo
                        </a>
                      </li>
                      <li>
                        <a style="color: #B0B0B0;"
                          target="_blank"
                          href="https://www.pedidosya.com.bo/restaurantes/santa-cruz-de-la-sierra/pizza-rio---doble-via-la-guardia-menu?gclid=CjwKCAjwrcH3BRApEiwAxjdPTQIkDG7Z9cjtSijAssVdsSDZCSd59s_cwYD8tUtEZpg5n3VoMrc7mhoC_98QAvD_BwE">
                          Pizza rio
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="sp-bottom12" class="col-sm-6 col-md-6">
            <div class="sp-column">
              <div class="sp-module title1">
                <h3 class="sp-module-title"></h3>
                <div class="sp-module-content">
                  <div class="customtitle1">
                    <div>
                      <h3>
                        Contactenos
                      </h3>
                      <hr style="height:5px;border-width:0;border-radius: 5px; margin-right: 60%;  color:black;background-color:rgb(236, 4, 159)" />
                      <a target="_blank"
                        href="https://www.facebook.com/municipios56">
                        <img src="{{
                          asset(
                            'imagenes/Facebook_f_logo_(2019).svg'
                          )
                          }}"
                          width="50"
                          height="50" />
                      </a> &nbsp;&nbsp;
                      <a target="_blank"
                        href="https://www.instagram.com/amdecruz/">
                        <img src="{{ asset('imagenes/insta.png') }}"
                          width="50"
                          height="50" />
                      </a> &nbsp;&nbsp;
                      <a target="_blank"
                        href="https://twitter.com/amdecruz?lang=es">
                        <img src="{{ asset('imagenes/twi.png') }}"
                          width="50"
                          height="40" />
                      </a>&nbsp;&nbsp;
                      <a href="mailto:secretaria@amdecruz.com">
                        <img src="{{ asset('imagenes/gmail.png') }}"
                          width="50"
                          height="40" />
                      </a> &nbsp;&nbsp;
                      <a href="tel:+5913363297">
                        <img src="{{ asset('imagenes/img8.jpg') }}"
                          width="45"
                          height="45" />
                      </a>

                      <br /><br />
                      <p>
                        Dirección: 3er anillo interno a una cuadra de la
                        avenidad alemana
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block javascripts %}
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {% endblock %}
  </body>
</html>
