{% extends 'base.html.twig' %}

{% block title %}Listado de Usuario{% endblock %}

{% block body %}
<div class="row justify-content-md-center">
<div class="col-6">
    <h1>Listado de Usuario</h1>

    <table class="table table-responsive">
      <thead class="thead-dark">       
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nombre }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td width="100">{{ user.password }}</td>

                <td>
                    <a class="btn btn-success" href="{{ path('user_show', {'id': user.id}) }}">Ver</a>
                    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">Editar</a>
                </td>
                
            </tr>



        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
            
        {% endfor %}
        <a class="btn btn-info btn-block" href="{{ path('user_new') }}">Crear Nuevo</a>
        </tbody>
    </table>
</div>
</div>
    
{% endblock %}
